<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
<%= form_for [@user, @book], class:"form-horizontal center" do |f| %>
  <div class = "form-group">
  <%= f.label :title, class:"col-sm-4 control-label" %>
  <div class = "col-sm-8">
  <%= f.text_field :title, class: "form-control" %>
  </div>
  </div>

  <div class = "form-group">
  <%= f.label :author, class:"col-sm-4 control-label" %>
  <div class = "col-sm-8">
  <%= f.text_field :author, class: "form-control" %>
  </div>
  </div>
  <div class = "form-group">
  <%= f.label :genre, class:"col-sm-4 control-label" %>
  <div class = "col-sm-8">
  <%= f.text_field :genre, class: "form-control" %>
  </div>
  </div>
  <div class = "form-group">
  <%= f.label :image_url, class:"col-sm-4 control-label" %>
  <div class = "col-sm-8">
  <%= f.text_field :image_url, class: "form-control" %>
  </div>
  </div>
  <div class = "form-group">
  <%= f.label :no_pages, class:"col-sm-4 control-label" %>
  <div class = "col-sm-8">
  <%= f.text_field :no_pages, class: "form-control" %>
  </div>
  </div>
  <div class = "form-group">
  <%= f.label :condition, class:"col-sm-4 control-label" %>
  <div class = "col-sm-8">
  <%= f.text_field :condition, class: "form-control" %>
  </div>
  </div>
  <div class = "form-group">
  <%= f.label :synopsis, class:"col-sm-4 control-label" %>
  <div class = "col-sm-8">
  <%= f.text_area :synopsis, class: "form-control" %>
  </div>
  </div>
  <div class="row">
         <div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <%= f.submit "Submit", class: "btn btn-default" %>
</div>
</div>
<% end %>
</div>
</div>
