<%= image_tag("https://static-secure.guim.co.uk/sys-images/Observer/Pix/pictures/2013/12/23/1387823611665/Library-with-a-book-ladde-014.jpg", id: "hero") %>

<h1 class = "text-center">Library</h1>
  <div class = "library">
<% tag_names = [] %>

<% @tags.each do |tag| %>
<% tag_names << tag.name %>
<!--
This is pure "business logic": by itself it doesn't print anything out on the page.
Business logic like this should take place in the controller or model or elsewhere, but not in the view.
-->
<%end%>




<%= form_tag({:action=>"index"},{:method=>"get"}) do %>
<!-- I wouldn't use `:action` with a `form_tag`. Instead, use a URL helper, e.g. books_path -->
       <%= select_tag "tags", options_for_select(tag_names.uniq), class: "btn btn-default dropdown-toggle" %>
       <%= submit_tag "Filter by Tag", class: "btn btn-default btn-xs" %>
<% end %>
<div class="remove-filter"><%= link_to "Remove Filter", root_path, class: "btn btn-default btn-xs" %></div>

<% if @tag %>
<h4 class = "filter">Filtering by Tag: <%= @tag.name %></h4>
<% end %>
  <% @books.each do |book| %>
    <div class="category">
      <p class = "title"><%= book.title %></p>
      <%= link_to image_tag(book.image_url), user_book_path(book.user,book) %>
    </div>
  <% end %>
</div>
